#apply-filter{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

#apply-filter p{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.4rem;
}

#apply-filter svg{
    width: 2rem;
}
.select-filter{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.select-filter span{
    color: red;
    font-size: 1.5rem;
    margin:0 1.5rem;
    font-weight: 600;
    cursor: pointer;


}